services:
  new-bootnode:
    build:
      context: ./
      dockerfile: Dockerfile
    entrypoint: 'disco --keyhex=b639c258292096306d2f60bc1a8da9bc434ad37f15cd44ee9a2526685f592220 --nat extip:10.5.0.10 --addr 0.0.0.0:55555'
    # enode://c492a9c028aa08c2625157bd5463c07a1be23d4a5ba68596f9898e7ffc61524c8cb73915edc8c425d68658487085f2703c39e1607bb04c99c2efec7ed81cc8aa@0.0.0.0:0
    container_name: new-bootnode
    networks:
      thor-net:
        ipv4_address: 10.5.0.10

  legacy-bootnode:
    image: vechain/thor:v2.4.0
    # enode://e07ffe6214081b6cb57b5649c476ba7adbc3e0985793171737110d56872549ad9d616c4995f10592edc91690e8435440969439acec50fbf8baf17c84be25ed98@[::]:55555
    entrypoint: 'disco --keyhex=9d68178cdc934178cca0a0051f40ed46be153cf23cb1805b59cc612c0ad2bbe0'
    container_name: legacy-bootnode
    networks:
      thor-net:
        ipv4_address: 10.5.0.11

  # uses old p2p protocol only, only connects to legacy-bootnode
  node-old-p2p:
    image: vechain/thor:v2.4.0
    container_name: node-old-p2p
    volumes:
      - ${PWD}/test/network:/thor
    ports:
      - "8688:8669"
    command:
      - --network
      - /thor/genesis.json
      - --config-dir
      - /thor/node-old-p2p
      - --bootnode
      - enode://e07ffe6214081b6cb57b5649c476ba7adbc3e0985793171737110d56872549ad9d616c4995f10592edc91690e8435440969439acec50fbf8baf17c84be25ed98@10.5.0.11:55555
      - --api-addr
      - 0.0.0.0:8669
    networks:
      thor-net:
        ipv4_address: 10.5.0.12

  # uses new p2p protocol only, only connects to new-bootnode
  node-new-p2p:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: node-new-p2p
    volumes:
      - ${PWD}/test/network:/thor
    ports:
      - "8689:8669"
    command:
      - --network
      - /thor/genesis.json
      - --config-dir
      - /thor/node-new-p2p
      - --bootnode
      - enode://c492a9c028aa08c2625157bd5463c07a1be23d4a5ba68596f9898e7ffc61524c8cb73915edc8c425d68658487085f2703c39e1607bb04c99c2efec7ed81cc8aa@10.5.0.10:55555
      - --api-addr
      - 0.0.0.0:8669
      - --disable-temp-discv5
    networks:
      thor-net:
        ipv4_address: 10.5.0.13

  # uses both new and old p2p protocols, connects to both bootnodes
  node-mixed-p2p:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: node-mixed-p2p
    volumes:
      - ${PWD}/test/network:/thor
    ports:
      - "8690:8669"
    command:
      - --network
      - /thor/genesis.json
      - --config-dir
      - /thor/node-mixed-p2p
      - --bootnode
      - enode://e07ffe6214081b6cb57b5649c476ba7adbc3e0985793171737110d56872549ad9d616c4995f10592edc91690e8435440969439acec50fbf8baf17c84be25ed98@10.5.0.11:55555,enode://c492a9c028aa08c2625157bd5463c07a1be23d4a5ba68596f9898e7ffc61524c8cb73915edc8c425d68658487085f2703c39e1607bb04c99c2efec7ed81cc8aa@10.5.0.10:55555
      - --api-addr
      - 0.0.0.0:8669
    networks:
      thor-net:
        ipv4_address: 10.5.0.14


networks:
  thor-net:
    driver: bridge
    ipam:
      config:
        - subnet: 10.5.0.0/24