name: Gosec
on:
  schedule:
  #   # This is meant to run every day at 8am
    - cron:  '0 8 * * 1-5'

permissions:
  contents: read

jobs:
  gosec:
    runs-on: ubuntu-latest
    env:
      GO111MODULE: on
    outputs:
      gosec-status: ${{ steps.gosec-run.outcome }}
    steps:
      - name: Checkout Source
        uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25.x'
          cache: false
      - name: Run Gosec
        id: gosec-run
        continue-on-error: true
        uses: securego/gosec@6be2b51fd78feca86af91f5186b7964d76cb1256 # v2.22.10
        with:
          args: '-exclude=G104,G115,G304,G406,G507 -exclude-dir=builtin/gen ./...'

  notify-slack:
    name: Notify Slack
    needs:
      - gosec
    if: always() && needs.gosec.outputs.gosec-status == 'failure'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Notify Slack
        uses: slackapi/slack-github-action@6c661ce58804a1a20f6dc5fbee7f0381b469e001 # v1.25.0
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.GOSEC_SLACK_WEBHOOK }}
        with:
          payload: |
            {
              "commit-url": "${{ github.event.head_commit.url }}",
              "branch": "${{ github.ref }}",
              "repository": "${{ github.repository }}"
            }
