name: License Check

on:
  workflow_call:

permissions:
  contents: read

jobs:
  license-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: License Check
        uses: apache/skywalking-eyes@v0.8.0
