name: Pull Request CI

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  run-unit-tests:
    name: Run Unit Tests
    uses: ./.github/workflows/test.yaml
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  license-check:
    name: License Check
    uses: ./.github/workflows/license-check.yaml

  lint:
    name: Lint
    uses: ./.github/workflows/lint-go.yaml

  module-check:
    name: Go Module Check
    uses: ./.github/workflows/go-mod-check.yaml

  run-e2e-tests:
    name: E2E Tests
    uses: ./.github/workflows/test-e2e.yaml
    permissions:
      contents: read
    secrets: inherit

  run-smoke-tests:
    name: Smoke Tests
    uses: ./.github/workflows/test-smoke.yaml
    permissions:
      contents: read
    secrets: inherit
    needs: [run-e2e-tests]
    
  run-rosetta-tests:
    name: Rosetta Tests
    uses: ./.github/workflows/test-rosetta.yaml
    with:
      thor_repo: https://github.com/${{ github.event.pull_request.head.repo.full_name }}.git
      thor_version: ${{ github.event.pull_request.head.sha }}

  # This doesn't publish the image, it just tests the publishing workflow (build the image / tags / labels)
  test-docker-publish:
    name: Test Docker Publish
    uses: ./.github/workflows/publish-docker-images.yaml
    secrets: inherit
    permissions:
      contents: read
      packages: write
    with:
      images: |
        ghcr.io/${{ github.repository }}
      tags: |
        type=raw,value=${{ github.ref }}-${{ github.sha }}
