name: E2E Tests

on:
  workflow_call:
    inputs:
      hayabusa-e2e-branch:
        type: string
        default: 'release/hayabusa'
  workflow_dispatch:
    inputs:
      hayabusa-e2e-branch:
        description: 'Branch to test against'
        required: true
        default: 'release/hayabusa'

jobs:
  build-docker-image:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and export
        uses: docker/build-push-action@v6
        with:
          context: .
          tags: vechain/thor:${{ github.sha }}
          outputs: type=docker,dest=/tmp/vechain-thor.tar

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: vechain-thor-image-${{ github.sha }}
          path: /tmp/vechain-thor.tar
          retention-days: 7

  run-tests:
    runs-on: ubuntu-latest
    needs: build-docker-image
    env:
      THOR_IMAGE: vechain/thor:${{ github.sha }}
    name: Run Tests
    steps:
      # Main: https://github.com/vechain/thor-e2e-tests/tree/bc75a1814361ff987402b6dd0225b44292d2780b
      # For release branches, names in the thor and thor-e2e-tests repos should match
      - name: Set e2e repo reference
        id: set-ref
        run: |
          # Default fallback commit
          REF="bc75a1814361ff987402b6dd0225b44292d2780b"

          if [ "${{ github.event_name }}" = "pull_request" ]; then
            # For pull_request events, we only look at the PR's base branch
            if [[ "${{ github.event.pull_request.base.ref }}" == release/* ]]; then
              REF="${{ github.event.pull_request.base.ref }}"
            fi
          else
            # For push events, we check the branch or tag that was pushed
            if [[ "${{ github.ref_name }}" == release/* ]]; then
              REF="${{ github.ref_name }}"
            fi
          fi

          echo "ref=$REF" >> "$GITHUB_OUTPUT"

      - name: Checkout
        uses: actions/checkout@v4
        with:
          repository: vechain/thor-e2e-tests
          ref: ${{ steps.set-ref.outputs.ref }}

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: vechain-thor-image-${{ github.sha }}
          path: /tmp

      - name: Setup Node JS
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'

      - name: Load image
        run: |
          docker load --input /tmp/vechain-thor.tar
          docker image ls -a

      - name: Run Tests
        run: |
          export THOR_IMAGE=vechain/thor:${{ github.sha }}
          yarn install
          yarn docker:up
          yarn test

      - uses: actions/upload-artifact@v4
        if: success() || failure()
        with:
          name: e2e-test-results-${{ github.sha }}
          path: ./junit.xml
          retention-days: 14

  run-hayabusa-tests:
    uses: vechain/hayabusa-e2e/.github/workflows/run-tests.yaml@release/hayabusa
    with:
      codebuild-name: codebuild-ThorGHA
      hayabusa-branch: ${{ github.ref }}
