name: Test

on: [push, pull_request]

jobs:
  unit_tests:
    strategy:
      matrix:
        go-version: [1.16.x]
        os: [ubuntu-latest, macos-latest, windows-latest]
        include:
          - go-version: 1.14.x
            os: ubuntu-latest
            experimental: true
          - go-version: 1.15.x
            os: ubuntu-latest
            experimental: true
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: ${{ matrix.go-version }}
 
      - name: Checkout code
        uses: actions/checkout@v2
    
      - uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-

      - name: Make all
        run: make all
      
      - name: Make Test
        run: make test
